body {
    background-color: #c3195d;
}

.navColor {
    background-color: #f70776;  
}

.fuenteMarca {
    font-family: 'Zhi Mang Xing';
}

.componentes {
    background-color: #680747;
}

.esteticaBoton {
    margin-top: 1vh;
    height: 15vh;
    border-radius: 100%;
    width: 50%;
}

.ocultarSINO {
    display: none !important;
}

.centrarAcordion {
    display: flex ;
    justify-content: center !important;
}

.pedido {
    width: 80vw;
}

.btnProceso {
    width: 30vw;
    border: 0px;
    border-radius: 25px;
    color: #fff;
    background-color: #c3195d;
}

.btnProceso:hover{
    background-color: #ff4545;
}

.btnProceso:active{
    background-color: #ff4545;
}

.noClick {
    pointer-events: none;
    opacity: 0.1;
 }

 .centrarAlert{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
 }

 .centrarTotal{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
 }