body {
    background-color: #c3195d;
}

.navColor {
    background-color: #f70776;  
}

.fuenteMarca {
    font-family: 'Zhi Mang Xing';
}

.componentes {
    background-color: #680747;
}

.esteticaBoton {
    margin-top: 1vh;
    height: 15vh;
    border-radius: 100%;
    width: 50%;
}

.ocultarSINO {
    display: none !important;
}

.centrarAcordion {
    display: flex ;
    justify-content: center !important;
}

.pedido {
    width: 80vw;
}

.btnProceso {
    width: 30vw;
    border: 0px;
    border-radius: 25px;
    color: #fff;
    background-color: #c3195d;
}

.btnProceso:hover{
    background-color: #ff4545;
}

.btnProceso:active{
    background-color: #ff4545;
}

.btnError {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    color: #ff4545;

}

.btnErrorTitulo {
    background-color: #680747;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
}

.noClick {
    pointer-events: none;
}